body {
    background-color: #edeef6;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.pop-up-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}

.pop-up-content {
    background-color: #edeef8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pop-up-content p {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.75;
}

#pop-up-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

#pop-up-closer-login, #pop-up-closer-signup, #pop-up-closer-notif {
    display: flex;
    justify-content: right;
    align-items: right;
}


.pop-up-button {
    background-color: rgb(103, 103, 245);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.message-pop-up-container {
    background-color: blue;
    width: 350px;
    position: fixed;
    margin-top: 60px;
    float: right;
}

.message-item {
    border-bottom: 0.5px solid #acacac;
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.a-post {
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cacaca;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.id-notif {
    text-align: center;
    font-weight: bold;;
    width: 300px;
    height: 220px;
    background-color: #ee8891;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10000;
}

.id-notif-photo {
    text-align: center;
    font-weight: bold;;
    width: 300px;
    height: 100px;
    background-color: #ee8891;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10000;
}

.show-pop-up {
    opacity: 1;
    pointer-events: auto;
}
